body {
	width: 940px;
	margin: 0 auto;
}

.under {
	color:blue;
}

.over {
	color:crimson;
}

#titleContainer {
	float: left;
}

#timingContainer {
	float: right;
}

#timingContainer p:first-child {
	font-size: 3em;
	text-align: center;
	margin: 0;
}
